/libGSS.framework
SampleApp/proj.android/obj
SampleApp/proj.android/bin
libgss
SampleApp/libs/cocos2dx/platform/android/java/gen
SampleApp/libs/cocos2dx/platform/android/java/bin
SampleApp/proj.android/gen
SampleApp/proj.android/libs
SampleApp/proj.android/assets
